<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COMPLETE_FLAT_UI.Properties.Settings.TABLASConnectionString"
            connectionString="persistsecurityinfo=True;server=LOCALHOST;user id=ROOT;database=escuela"
            providerName="MySql.Data.MySqlClient" />
        <add name="COMPLETE_FLAT_UI.Properties.Settings.dbConnectionString"
            connectionString="server=localhost;user id=root;password=16210977;persistsecurityinfo=True;database=db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>